#layout-footer{
    a{
        color: white;
        text-decoration: none;
    }
    background: grey;
    display: flex;
    justify-content: flex-start;
    padding: 5px 10px;

    .footer-nav{
        li{
            list-style: none;
            margin-bottom: 10px;
        }
    }
}